:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Lora", serif;
  --primary-brand-color: #335de8;
  --secondary-brand-color: #374078;
  --complementary-brand-color: #fa4646;
  --main-light-color: #efeff2;
  --secondary-light-color: #c4c4c4;
  --tertiary-light-color: #f5f5f5;
  --white-color: #ffffff;
  --main-dark-color: #111111;
  --form-color: #888787;
  --card-set__item: 4;
  --card-set-margin-pos: 30px;
  --card-set-margin-neg: -30px;
  --transition-main: 250ms linear;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  bottom: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: var(--main-dark-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

q {
  quotes: none;
  font-style: italic;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 32px;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.p_small {
  font-size: 16px;
  line-height: 1.25;
}

.title {
  font-weight: 700;
  font-size: 30px;
}

.subtitle {
  font-weight: 700;
  font-size: inherit;
}

.main-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  margin-bottom: 80px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--card-set-margin-neg);
  margin-top: var(--card-set-margin-neg);
}

.card-set__item {
  margin-left: var(--card-set-margin-pos);
  margin-top: var(--card-set-margin-pos);
  flex-basis: calc(100% / var(--card-set__item) - 30px);
}

.main-button {
  min-width: 180px;
  padding: 13px 22px;
  color: var(--primary-brand-color);
  box-shadow: 0px 0px 10px 2px rgba(51, 93, 232, 0.25);
  border-radius: 16px;
  border-style: none;
  background-color: var(--white-color);
  cursor: pointer;
  transition: color var(--transition-main), background-color var(--transition-main);
}

.main-button:focus-visible, .main-button:hover {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
}

.order-button {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
}

.order-button:focus-visible, .order-button:hover {
  background-color: var(--white-color);
  color: var(--primary-brand-color);
}

.slider {
  width: 397px;
  margin-left: 74px;
  margin-top: auto;
  margin-bottom: auto;
}

.slider-nav {
  text-align: center;
}

.slider-nav__item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: var(--secondary-light-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color var(--transition-main);
}

.slider-nav__item:not(:last-child) {
  margin-right: 10px;
}

.slider-nav__item_active, .slider-nav__item:hover {
  background-color: var(--primary-brand-color);
}

.slides {
  position: relative;
  margin-bottom: 18px;
}

.slides__item {
  display: none;
}

.slides__img {
  border-radius: 16px;
}

.slides__text {
  color: var(--tertiary-light-color);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 190px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--secondary-light-color);
  transition: border-color var(--transition-main);
  user-select: none;
}

.prev {
  left: -17px;
  transform: translateX(-100%);
}

.next {
  right: -17px;
  transform: translateX(100%);
}

.prev:hover .nav-slider-svg,
.next:hover .nav-slider-svg {
  fill: var(--primary-brand-color);
}

.prev:hover,
.next:hover {
  border-color: var(--primary-brand-color);
}

.nav-slider-svg,
.nav-slider-svg {
  fill: var(--secondary-light-color);
  transition: fill var(--transition-main);
}

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 10;
  padding-left: 75px;
}

.navigation__list {
  padding: 25px;
  padding-right: 60px;
  border-radius: 14px;
  background-color: rgba(236, 234, 234, 0.4);
  backdrop-filter: blur(40px);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  transform: translateX(170px);
  transition: transform var(--transition-main);
}

.navigation:hover .navigation__list {
  transform: translateX(20px);
}

.navigation__link {
  padding: 15px 0px;
  transition: var(--transition-main);
}

.navigation__link:hover, .navigation__link:focus-visible {
  color: var(--secondary-brand-color);
}

.navigation__link_active {
  color: var(--secondary-brand-color);
}

.navigation__name {
  padding-left: 30px;
}

.navigation__svg {
  border: solid var(--secondary-brand-color) 1px;
  border-radius: 50%;
  fill: transparent;
  transition: fill var(--transition-main);
}

.navigation__link:hover .navigation__svg {
  fill: var(--secondary-brand-color);
}

.navigation__link_active .navigation__svg {
  fill: var(--secondary-brand-color);
}

.back-drop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-main), visibility var(--transition-main);
}

.modal {
  text-align: center;
  padding: 40px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  transition: transform var(--transition-main);
}

.back-drop.is-hidden .modal {
  transform: translate(-50%, 0%);
}

.modal__button_close {
  position: absolute;
  right: 9px;
  top: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal__button_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--form-color);
  transition: color var(--transition-main);
}

.modal__button_close:focus .modal__button_svg,
.modal__button_close:hover .modal__button_svg {
  fill: var(--primary-brand-color);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modal__label_text-area {
  margin-bottom: 30px;
}

.modal__text {
  color: var(--form-color);
  font-size: 16px;
  margin-bottom: 4px;
}

.modal__field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition: border-color var(--transition-main);
  font-size: 16px;
}

.modal__field::placeholder {
  font-size: 16px;
  color: var(--secondary-light-color);
}

.modal__field:focus, .modal__field:hover {
  border-color: var(--primary-brand-color);
}

.modal__svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: var(--form-color);
  transition: fill var(--transition-main);
}

.modal__field:focus + .modal__svg,
.modal__field:hover + .modal__svg {
  fill: var(--primary-brand-color);
}

.modal__label_contact-area {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
  height: 120px;
}

.modal__contact {
  width: 100%;
  position: relative;
}

.header {
  border-bottom: 1px solid var(--main-light-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.menu__item {
  overflow: hidden;
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  transition: color var(--transition-main);
}

.menu__link:focus-visible, .menu__link:hover {
  color: var(--primary-brand-color);
}

.menu__link_inactive::after {
  content: "";
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: #335de8;
  border-radius: 26px;
  position: absolute;
}

.menu__item:hover .menu__link_inactive::after,
.menu__item:focus-visible .menu__link_inactive::after {
  transition: transform var(--transition-main);
  transform: translateY(-26px);
}

.menu__link_active {
  color: var(--primary-brand-color);
}

.menu__link_active::after {
  content: "";
  height: 2px;
  width: 100%;
  bottom: 24px;
  left: 0;
  background-color: #335de8;
  border-radius: 26px;
  position: absolute;
}

.menu__link_more {
  position: relative;
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  transition: color var(--transition-main);
}

.menu__svg_more {
  fill: currentColor;
  transform-origin: center center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 300ms linear;
}

.menu .menu__span_more {
  transition: color var(--transition-main);
}

.menu__item_more {
  overflow: visible;
  cursor: default;
  padding-right: 18px;
}

.menu__item_more:hover .menu__span_more {
  color: var(--primary-brand-color);
}

.menu__item_more:hover .menu__svg_more,
.menu__item_more:focus-visible .menu__svg_more {
  transform: rotate(90deg) translatex(-5px);
}

.menu_min {
  z-index: 10;
  width: 200px;
  height: 246px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: rgba(236, 234, 234, 0.4);
  backdrop-filter: blur(40px);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  transition: opacity var(--transition-main);
}

.menu__link_min {
  padding: 15px 30px;
}

.menu__item_more:hover .menu_min {
  opacity: 100%;
  pointer-events: all;
  visibility: visible;
}

.hero {
  background-color: var(--tertiary-light-color);
  padding: 64px 0;
}

.hero__text {
  width: 445px;
  height: 282px;
}

.hero__container_svg {
  position: relative;
  width: 505px;
  height: 355px;
  margin-left: 107px;
}

.hero__svg_blop {
  margin-left: 55px;
  margin-top: auto;
  margin-bottom: auto;
}

.hero__svg {
  position: absolute;
  transition: transform var(--transition-main);
}

.hero__svg:focus-visible,
.hero__svg:hover {
  transform: scale(105%);
}

.hero__svg_owners {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform var(--transition-main);
}

.hero1 {
  left: 8px;
}

.hero2 {
  right: 8px;
}

.hero__svg_owners:focus-visible,
.hero__svg_owners:hover {
  transform: scale(102%) translateY(-50%);
}

.hero__svg_card {
  left: 130px;
  top: 50px;
}

.hero__svg_id-card {
  left: 305px;
  top: 150px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.hero__svg_graphic {
  left: 140px;
  top: 210px;
}

.hero__container {
  display: flex;
  flex-direction: row;
}

.hero__text_order {
  margin-right: 180px;
  margin-bottom: 30px;
}

.advantages__list {
  display: flex;
  flex-direction: row;
}

.advantages__item {
  width: 270px;
}

.advantages__img {
  background-color: var(--main-light-color);
  margin-bottom: 23px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__subtitle {
  margin-bottom: 6px;
}

.investing_main {
  background-color: var(--secondary-brand-color);
  color: var(--tertiary-light-color);
  padding-bottom: 50px;
}

.investing__container_main {
  display: flex;
}

.graphic__img_main {
  margin-bottom: 50px;
}

.investing__text_main {
  margin-right: 40px;
}

.investing__title_main {
  font-weight: 400;
  margin-bottom: 40px;
}

.investing__graphic_main {
  min-width: 750px;
}

.graphic__img_main {
  border-radius: 16px;
}

.investing_join {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.investing__text_join {
  margin-right: 88px;
}

.investing__link_join {
  background-color: var(--complementary-brand-color);
  min-width: 190px;
  padding: 13px 16px;
  text-align: center;
  border-radius: 16px;
  transition: color var(--transition-main), background-color var(--transition-main);
}

.investing__link_join:focus-visible,
.investing__link_join:hover {
  color: var(--complementary-brand-color);
  background-color: var(--tertiary-light-color);
}

.investing__body {
  overflow-y: scroll;
}

.cards {
  --card-set__item: 3;
  --card-set-margin-pos: 15px;
  --card-set-margin-neg: -15px;
}

.cards__title_main {
  text-align: center;
  margin-bottom: 60px;
}

.card {
  position: relative;
  margin-bottom: 30px;
  transition: transform var(--transition-main);
}

.card-p {
  position: absolute;
}

.card-b-name {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  top: 14px;
  right: 13px;
}

.card-number {
  top: 100px;
  left: 35px;
  font-size: 16px;
}

.card-term {
  font-size: 12px;
  top: 136px;
  left: 196px;
}

.card-owner-name {
  font-size: 12px;
  top: 160px;
  left: 35px;
}

.cards__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  width: 380px;
  height: 474px;
  border-radius: 22px;
  padding-top: 65px;
  padding-left: 40px;
  padding-right: 40px;
  transition: background-color var(--transition-main);
}

.cards__button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.n-card-main-color,
.child-card-main-color,
.infinity-card-main-color {
  color: var(--tertiary-light-color);
}

.average-card-main-color {
  color: var(--secondary-brand-color);
}

.n-card-secondary-color,
.child-card-secondary-color,
.infinity-card-secondary-color {
  color: var(--secondary-light-color);
}

.pink-card-secondary-color {
  color: var(--secondary-brand-color);
}

.cards__link:focus-visible,
.cards__link:hover {
  background-color: #f5f5f5;
}

.cards__link:focus-visible .card,
.cards__link:hover .card {
  transform: rotate(3deg);
}

.cards-main-name {
  margin-bottom: 20px;
  text-align: center;
}

.about__container_main {
  display: flex;
}

.about__text_main {
  width: 410px;
  margin-right: 85px;
}

.owners__list_main {
  display: flex;
}

.about__title_main {
  margin-bottom: 23px;
}

.about__cite_main {
  display: block;
  margin-bottom: 120px;
}

.about__text_join {
  margin-bottom: 22px;
}

.owners__item_main:not(:last-child) {
  margin-right: 115px;
}

.owners__link_gh {
  display: inline-block;
  width: 280px;
}

.staff_main {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 16px;
}

.staff__photo_main {
  background-color: var(--primary-brand-color);
}

.owners__description {
  color: var(--white-color);
  background-color: rgba(51, 93, 232, 0.7);
  top: 0;
  padding: 84px 22px;
  position: absolute;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-main);
}

.owners__link_gh:focus-visible .owners__description,
.owners__link_gh:hover .owners__description {
  transform: translateY(0%);
}

.owners__name_main {
  text-align: center;
  transition: color var(--transition-main);
}

.owners__link_gh:focus-visible .owners__name_main,
.owners__link_gh:hover .owners__name_main {
  color: #335de8;
}

.owners__description_part:not(:last-child) {
  margin-bottom: 24px;
}

.about__title {
  margin-bottom: 45px;
}

.about-hero {
  margin-left: auto;
}

.about__container {
  display: flex;
}

.about-hero {
  margin-top: -75px;
  margin-bottom: -75px;
}

.staff__item:not(:last-child) {
  margin-bottom: 45px;
}

.staff-container {
  display: flex;
}

.staff__photo {
  background-color: var(--primary-brand-color);
  border-radius: 16px;
  margin-right: 75px;
}

.staff__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.staff__name {
  font-weight: 400;
  margin-bottom: 50px;
}

.owners {
  background-color: var(--tertiary-light-color);
}

.owners-title {
  text-align: center;
  margin-bottom: 35px;
}

.footer {
  color: var(--white-color);
  background-color: var(--secondary-brand-color);
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer__address {
  display: inline-block;
}

.footer__link {
  color: var(--secondary-light-color);
  margin-bottom: 20px;
  display: inline-block;
  transition: color var(--transition-main);
}

.footer__link_opaque {
  color: var(--white-color);
}

.footer__link:focus-visible,
.footer__link:hover {
  color: var(--complementary-brand-color);
}

.logo_footer {
  margin-bottom: 40px;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */