:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Lora", serif;
  --primary-brand-color: #335de8;
  --secondary-brand-color: #374078;
  --complementary-brand-color: #fa4646;
  --main-light-color: #efeff2;
  --secondary-light-color: #c4c4c4;
  --tertiary-light-color: #f5f5f5;
  --white-color: #ffffff;
  --main-dark-color: #111111;
  --form-color: #888787;
  --card-set__item: 4;
  --card-set-margin-pos: 30px;
  --card-set-margin-neg: -30px;
  --transition-main: 250ms linear;
}