html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--main-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: var(--main-dark-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
q {
  quotes: none;
  font-style: italic;
}
